
.aicolumns-wrapper {
  background: var(--theme-clr-background);
  color: var(--theme-clr-text);
}

.aicolumns {
  display: flex;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    color: var(--black);
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
